<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Dan Marino Foundation · Learning Management System</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <div class="md:container md:mx-auto">
      <%= render "header.html", assigns %>
      <%= render "flash.html", assigns %>
      <%= @inner_content %>
      <%= render "footer.html", assigns %>
    </div>
  </body>
</html>
